extends layout

block content
    if errors
        ul.errors
            each error in errors
                li.error= error
    .create-body
        form(action="/questions/new" method="POST")
            input(type="hidden" name="_csrf" value=token)
            .title-con
                label(for="title") Title 
                input(type="text" name="title" value=question.title)
            .body-con 
                label(for="body") Body 
                textarea(name="body")= question.body 
            .images-con
                .image1-con 
                    label(for="image_link1") Image URL
                    input(type="text" name="image_link1" placeholder="..." value=question.image_link1)
                .image2-con 
                    label(for="image_link2") Image URL
                    input(type="text" name="image_link2" placeholder="..." value=question.image_link2)
                .image3-con 
                    label(for="image_link3") Image URL
                    input(type="text" name="image_link3" placeholder="..." value=question.image_link3)
            .edit-btns-con 
                .submit-con
                    button.submit-btn(type="submit") Submit Question 
                .cancel-con
                    form(action='/questions')
                        button.cancel-btn Cancel