extends layout

append head
  link(rel='stylesheet' href='/stylesheets/question.css')
  script(src="/javascripts/question.js" type="module" defer)

block content
  .body-content
    .layout
      .title-bar
        .title
          h1= question.title
        form(action='/questions/new')
          button.title-ask-question-button(type='submit') Ask a Question
      .subheading-bar
        - const options = { month: 'short', day: 'numeric', year: 'numeric'}
        .ask-time
          span Asked
          text= question.createdAt.toLocaleString('en-US', options)
        .edit-time
          if question.updatedAt - question.createdAt > 0
            span Updated
            text= question.updatedAt.toLocaleString('en-US', options)
      .post
        .sidebar
        .content
          .post-body
            - const paragraphs = question.body.split('\n')
            each paragraph in paragraphs
              p= paragraph
            if question.image_link1
              img(src=question.image_link1)
          .post-controls.controls
            .post-user.user-box
              text.user-label posted by
              text= question.User.username
  
            - numAnswers = question.Answers.length
            .number-of-answers= numAnswers > 0 ? question.Answers.length + ` Answer${ numAnswers > 1 ? 's' : '' }` : 'No answers yet!'
            .post-edit  
              if locals.authenticated && locals.user.id === question.user_id
                form(action=`/questions/${question.id}/edit`)
                  button.edit-button.question-button Edit
      if question.Answers
        - question.Answers.sort( (a, b) => a.createdAt - b.createdAt )
        each answer in question.Answers
          div.answer(class=`answer-${answer.id}`)
            .sidebar
              .upvote-button.vote-button
              - const score = answer.Votes.reduce( (sum, vote) => {sum + vote.value}, 0)
              .score= score === 0 ? '' : score
              .downvote-button.vote-button 
            .answer-body
              - const answerDivs = answer.body.split('\n')
              .content
                each answerDiv in answerDivs
                  p= answerDiv
              .answer-controls.controls
                .answer-user.user-box 
                  text.user-label posted by
                  text= answer.User.username
                .answer-buttons
                  if locals.authenticated && locals.user.id === answer.user_id
                    form(action=`/answers/${answer.id}/delete` method="POST")
                      button.delete-button Delete
                    div.edit-form(id=`edit-answer-form-${answer.id}`)
                      button.edit-button.answer-edit(id=`edit-answer-${answer.id}`) Edit
      .new-answer-form
        .sidebar
        if locals.authenticated
          h2 Answer Question
            form(action=`/answers` method="POST")
                input(type="hidden" name="_csrf" value=token)
                input(type="hidden" name="question_id" value=question.id)
                textarea(name="body" required)
                button Submit
