extends layout 

append head 
    link(rel='stylesheet' href='/stylesheets/question-edit-form.css')

block content 
    if errors
        ul.errors
            each error in errors
                li.error= error
    form(action=`/questions/${question.id}` method='POST')
        input(type="hidden" name="_csrf" value=token)
        div
            label(for="title") Title 
            input(type="text" name="title" value=question.title)
        div 
            label(for="body") Body 
            textarea(name="body")= question.body 
        div 
            label(for="image_link1") Image URL
            input(type="text" name="image_link1" value=question.image_link1)
        div 
            label(for="image_link2") Image URL
            input(type="text" name="image_link2" value=question.image_link2)
        div 
            label(for="image_link3") Image URL
            input(type="text" name="image_link3" value=question.image_link3)
        div 
            form(action=`/questions/${question.id}`)
            button.cancel-edit Cancel
            button(type="submit") Save Changes
    form(action=`/questions/${question.id}/delete` method="POST")
            button Delete