extends layout 

block content 
    .body-content
        - noun = (questions.length === 1) ? noun : noun + 's'
        h1.totalQs #{questions.length} #{noun}
        each question in questions 
            hr 
            //- div.qStats 
            //-     div.votes 
            //-         p #{questions.Vote.voteTotal} votes
            //-     div.answers 
            //-         p #{questions.Answer.length} answers
            .questionBox 
                a(href=`/questions/${question.id}`)= question.title 
                .Qpreview= question.preview 
                .Qusername Posted by #{question.User.username}
                - const options = { month: 'short', day: 'numeric', year: 'numeric'}
                .Qoptions= question.createdAt.toLocaleString('en-US', options)
