extends layout

append head
  link(rel='stylesheet' href='/stylesheets/question.css')
  script(src="/javascripts/question.js" type="module" defer)

block content
  .body-content
    .layout
      .title-bar
        .title
          h1= question.title
        form(action='/questions/new')
          button.title-ask-question-button(type='submit') Ask a Question
      .subheading-bar
        - const options = { month: 'short', day: 'numeric', year: 'numeric'}
        .ask-time
          span Asked
          text= question.createdAt.toLocaleString('en-US', options)
        .edit-time
          if question.updatedAt - question.createdAt > 0
            span Updated
            text= question.updatedAt.toLocaleString('en-US', options)
      .post
        .sidebar
        .content
          .post-body
            - const paragraphs = question.body.split('\n')
            each paragraph in paragraphs
              p= paragraph
            .image_div
              if question.image_link1
                img.img_link.img1(src=question.image_link1)
              if question.image_link2
                img.img_link.img2(src=question.image_link2)
              if question.image_link3
                img.img_link.img3(src=question.image_link3)
          .post-controls.controls
            .post-user.user-box
              text.user-label posted by
              text= question.User.username

            - numAnswers = question.Answers.length
            .number-of-answers= numAnswers > 0 ? question.Answers.length + ` Answer${ numAnswers > 1 ? 's' : '' }` : 'No answers yet!'
            .post-edit
              if locals.authenticated && locals.user.id === question.user_id
                form(action=`/questions/${question.id}/edit`)
                  button.edit-button.question-button Edit
      if question.Answers
        - question.Answers.sort( (a, b) => a.createdAt - b.createdAt )
        each answer in question.Answers
          a(name=`ans-${answer.id}`)
          div.answer(id=`answer-${answer.id}`)
            .sidebar
              - let userVoteValue = 0;
                if locals.authenticated
                  - const userVote = answer.Votes.find( vote => vote.user_id === locals.user.id )
                    if userVote
                      - userVoteValue = userVote.value
              .upvote-button.vote-button(id=`upvote-${answer.id}`
                                         class= locals.authenticated ? 'active' : ''
                                         class= userVoteValue === 1 ? 'engaged' : '')
              .score(id=`score-${answer.id}`)= answer.dataValues.score
              .downvote-button.vote-button(id=`downvote-${answer.id}`
                                           class= locals.authenticated ? 'active' : ''
                                           class= userVoteValue === -1 ? 'engaged' : '')
            .answer-body
              - const answerDivs = answer.body.split('\n')
              .content
                each answerDiv in answerDivs
                  p= answerDiv
              .answer-controls.controls
                .answer-user.user-box
                  text.user-label posted by
                  text= answer.User.username
                .answer-buttons
                  if locals.authenticated && locals.user.id === answer.user_id
                    button.delete-button.answer-delete(id=`delete-answer-${answer.id}`) Delete
                    div.edit-form(id=`edit-answer-form-${answer.id}`)
                      button.edit-button.answer-edit(id=`edit-answer-${answer.id}`) Edit
      .new-answer-form
        //.sidebar
        if locals.authenticated
          .your-answer-label Your Answer
          form.new-answer-form(action=`/answers` method="POST")
              input(type="hidden" name="_csrf" value=token)
              input(type="hidden" name="question_id" value=question.id)
              textarea(name="body" placeholder="" rows="7" required)
              button.edit-button.answer-submit-button Submit
