extends layout 

append head 
    link(rel="stylesheet" href="/stylesheets/questions-read.css")

block content 
    .body-content
        - noun = (questions.length === 1) ? noun : noun + 's'
        h1.totalQs #{questions.length} #{noun}
        each question in questions 
            hr 
            .questionBox 
                a(href=`/questions/${question.id}` class="question-title")= question.title 
                .Qpreview= question.preview
                .Qbox 
                    - numAnswers = question.Answers.length
                    .number-of-answers= numAnswers > 0 ? question.Answers.length + ` Answer${ numAnswers > 1 ? 's' : '' }` : 'No answers yet!'
                    .Qusername Posted by 
                        a(href=`/users/${question.User.id}`) #{question.User.username}
                        - const options = { month: 'short', day: 'numeric', year: 'numeric'}
                        .Qoptions= question.createdAt.toLocaleString('en-US', options)
