extends layout 

block content 
    .body-content
        - noun = (questions.length === 1) ? noun : noun + 's'
        h1.totalQs #{questions.length} #{noun}
        each question in questions 
            hr 
            .questionBox 
                a(href=`/questions/${question.id}`)= question.title 
                .Qpreview= question.preview 
                .Qusername Posted by 
                    a(href=`/users/${question.User.id}`): b #{question.User.username}
                    if question.Answers.length > 0
                        | &nbsp; | 
                        |#{question.Answers.length} answers
                - const options = { month: 'short', day: 'numeric', year: 'numeric'}
                .Qoptions= question.createdAt.toLocaleString('en-US', options)
